{{ 'hero-banner.css' | asset_url | stylesheet_tag }}

<section class="hero-banner">
  {% if section.settings.title != blank or section.settings.bg_image != blank %}
    <figure class="hero-image-wrapper">
      <img
        width="600"
        height="600"
        class="hero-image"
        src="{{ section.settings.bg_image | image_url: width: 600, height: 600 }}"
        alt="{{ section.settings.bg_image_alt}}">
    </figure>
    <div class="hero-banner__content">
      {% render 'article-hero-banner'
        , title: section.settings.title
        , subtitle: section.settings.subtitle %}
      {% if section.settings.button_text != blank and section.settings.button_link != blank %}
        <a class="button-back" href="{{section.settings.button_link}}">
          {{ section.settings.button_text }}
        </a>
      {% else %}
        <button>Botón de no renderizado</button>
      {% endif %}
    </div>
  {% else %}
    <h1>Hero Banner no renderizado</h1>
  {% endif %}
</section>

{% schema %}
  {
    "name": "Mi Hero Banner",
    "tag": "section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background image"
      },
      {
        "type": "text",
        "id": "bg_image_alt",
        "label": "Alternative text",
        "info": "Description image"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Background subtitle"
      }, {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }, {
        "type": "text",
        "id": "button_text",
        "label": "Text in the button"
      }
    ]
  }
{% endschema %}